@import 'variables';
@import 'svg';
@import 'navbar';
@import 'content';
@import 'footer';

body{
    width: 100%;
    margin: 0;
    padding: 100;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.color-orange{
    color: $clr-orange;
}
.color-brown{
    color: $clr-brown;
}
.bold{
    font-weight: 700;
}
.main-button-style{
    border-radius: 6px;
    background-color: $clr-orange;
    padding: 17px;
    border: none;
    text-transform: uppercase;
}
.text-small{
    font-size: 13px;
    font-weight: 500;
}