
/* Vector 1 */
.vector-1{
  position: absolute;
  width: 441.5px;
  height: 196.83px;
  right: 00px;
  top: -21px;
}
.vector-4{
  position: absolute;
}
.vector-5{
  position: absolute;
  right: 0;
  top: 450px;
}